*.filepart
*.o
*.dSYM
*.out
*.png
*.pyc
old/
mnist/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
backup/
Camara_10/
Camara_11/
Camara_16/
Camara_37/
lost+found/
.fuse*
*.weights
*.tar
*.gz
*.tar.gz
*.zip
# OS Generated #
.DS_Store*
ehthumbs.db
.directory
Icon?
Thumbs.db
*.swp
darknet
*.a
*.so
*.avi
*.MP4
*.mp4
.Trash-1000/
python/sompic.jpg
python/ultimofotogramaprocesado.jpg
